/***BASE STYLES***/
html {
  font-size: 14px;
  width: 100%;
}

body {
  align-items: center;
  background: rgba(40,189,189, 0.80);
  color: #3b3b3b;
  display: flex;
  flex-flow: row wrap;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  width: 100%;
}

/***HEADER***/
header {
  align-items: center;
  background: #ffffff;
  display: flex;
  justify-content: center;
  width: 100%;
  }

header img {
 margin-right: 15px;
 }

header h1 {
  color: #f16059;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

/***MAIN***/
main {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 90%;
}

main h1 {
  color: #f16059;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  padding-top: 5px;
  text-transform: uppercase;
}

h2 span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

p {
  text-align: center;
  width: 90%;
}

h3 {
  border-bottom: 1px solid #3b3b3b;
  border-top: 1px solid #3b3b3b;
  color: #f16059;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  margin: 5px 0 0 0;
  padding: 2px 0 2px 5px;
  text-align: center;
  text-transform: uppercase;
  width: 95%;
}

.card {
  align-items: center;
  box-shadow: 0 0 25px rgba(0,0,0, .50);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 25px;
  max-width: 800px;
  width: 100%;
}

.image {
  display: flex;
  flex-flow: row wrap;
  height: 550px;
  width: 100%;
}

.recipe {
  background: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 550px;
  padding: 20px;
  width: 100%;
}

.times {
  align-items: center;
  border: 1px solid #3b3b3b;
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  width: 85%;
}

.times img {
  box-sizing: border-box;
  height: 20px;
  padding-top: 3px;
  width: 15px;
}

.times div {
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
  width: 33.333%;
}

.times h2 {
  margin: 0;
}

.times .cook {
  border-left: 1px solid #3b3b3b;
  border-right: 1px solid #3b3b3b;
}

.ingredients, .directions {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
}

.ingredients ul {
  line-height: 24px;
  list-style-type: square;
}

.directions ol {
  line-height: 24px;
}

#salad .image {
  background: url('../img/strawberry-salad-01.jpg');
  background-position: center;
  background-size: cover;
}

#pesto .image {
  background: url('../img/pesto-pasta.jpg');
  background-position: center;
  background-size: cover;
}

#cookies .image {
  background: url('../img/sugar-cookies.jpg');
  background-position: center;
  background-size: cover;
}

/***FOOTER***/
footer {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 5px 0 25px 0;
  width: 100%;
}

h4 {
  font-weight: 200;
  text-align: center;
}

/***TABLET LAYOUT***/
@media all and (min-width: 768px) {
  html {
    font-size: 15px;
  }

  .times img {
    height: 25px;
    padding-top: 5px;
    width: 20px;
  }

  .ingredients, .directions {
    align-items: center;
    width: 49%;
  }

  .ingredients {
    margin-right: 10px;
  }
}

/***DESKTOP LAYOUT***/
@media all and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
